@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.houssem div{
   transform: translate(-50%,50%);
   left: 50%;
   top: 50%;
}
.part2{
  position: absolute;
  bottom: 30px;
  left: -50px;
  color : white;
  background-color: rgb(32, 33, 36);
  width: 200px;
}
